 <div class="grid__bp0-column-12"><div>
    	<nav class="navbarLine">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar blackBar"></span>
        <span class="icon-bar blackBar"></span>
        <span class="icon-bar blackBar"></span>
      </button>
      <a class="navbar-brand" href="#">Dogpagnie</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon"></span> Compagnie</a></li>
      <li><a href="#"><span class="glyphicon glyphicon"></span> Dog</a></li>
      <li><a href="#"><span class="glyphicon glyphicon"></span> Nieuws</a></li>
      <li><a href="#"><span class="glyphicon "></span> Contact</a></li>
      <li><a href="#"><span class="glyphicon "></span> Routes</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>    