 <div class="grid__bp0-column-12"><div>
    	<nav class="navbarLine">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar blackBar"></span>
        <span class="icon-bar blackBar"></span>
        <span class="icon-bar blackBar"></span>
      </button>
      <a class="navbar-brand lovelo" href="{{ '/' |prepend: site.baseurl}}">Dogpagnie</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ '/compagnie.html' |prepend: site.baseurl}}"><span class="glyphicon glyphicon"></span> Compagnie</a></li>
      <li><a href="{{ '/dog.html' |prepend: site.baseurl}}"><span class="glyphicon glyphicon"></span> Dog</a></li>
      <li><a href="{{ '/nieuws.html' |prepend: site.baseurl}}"><span class="glyphicon glyphicon"></span> Nieuws</a></li>
      <li><a href="{{ '/contact.html' |prepend: site.baseurl}}"><span class="glyphicon "></span> Contact</a></li>
      <li><a href="{{ '/routes.html' |prepend: site.baseurl}}"><span class="glyphicon "></span> Voorzieningen</a></li>
      <li><a href="{{ '/logintest.html' |prepend: site.baseurl}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <!--<li><a href="{{ '/dahboard.html' |prepend: site.baseurl}}"><span class="glyphicon glyphicon-info"></span> Dashboard</a></li>-->
      </ul>
    </div>
  </div>
</nav>    